@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 10px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}
body {
  margin: 0px;
  background: black;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
