/* ------------------------------------PAGINA PRINCIPAL------------------------------------------------ */
.wrapper {
    display: grid;
    grid-gap: 1px;
  }
  
  .top {
    display: grid;
    grid-gap: 20px;
  }
  .navegacion {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 90px 90px 90px 3fr 1fr;
    background: #fbc704;
    padding: 10px;
  }
  .btn i {
    font-size: 23px;
  }
  .barra1,
  .barra2,
  .barra3 {
    font-size: 20px;
  }
  .barra a {
    text-decoration: none;
    color: black;
  }
  .barra a:hover {
    /* color: #16a085; */
    color: blanchedalmond;
    font-size: 30px;
  }
  .barra1,
  .barra2,
  .barra3,
  .barra5,
  .barra4 {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .barra5 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .barra4 img {
    width: 90px;
  }
  
  .btn {
    border-radius: 5px;
    font-size: 1.6em;
    border: none;
    background: none;
  }
  
  .btn:hover {
    background: black;
    padding: 14px;
    color: #fbb904;
  }
  a {
    text-decoration: none;
  }
  
  /* ----------------------------------------------BANNER---------------------*/
  .banner {
    background: url(./assets/ban.jpg) no-repeat;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    position: relative;
    background-position: center;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
  }
  .banner > * {
    display: block;
    font-size: 4em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background: #fbc704;
    padding: 10px;
    border-radius: 4px;
  }
  .banner p {
    font-size: 3em;
  }
  
  /* ----------------------CARDS---------------------------- */
  .contenedor h2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    color: blanchedalmond;
    align-items: center;
    margin-top: 110px;
    font-size: 38px;
    text-align: center;
  }
  .contenedor .tit {
    color: black;
    margin: 0px;
  }
  .contenedor p {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
  }
  .contenedor h2:before,
  .contenedor h2:after {
    display: block;
    content: "";
    height: 10px;
  }
  .contenedor {
    padding: 2em;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 1em;
  }
  .box1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    height: 320px;
    grid-gap: 3em;
    padding-bottom: 1em;
    margin-bottom: 50em;
  }
  .box1 .card {
    display: grid;
    grid-template-columns: 1fr;
    width: 290px;
    background: #fbc704;
    text-align: center;
    padding: 2em;
  }
  .card__artwork {
    width: 100%;
  }
  /* -----------------------------GALERIA--------------------- */
  .galeria {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 6rem;
  }
  .galeria img {
    width: 100%;
    box-shadow: 0 0 5px rgb(63, 59, 59);
  }
  .galeria h2 {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    color: blanchedalmond;
    align-items: center;
    font-size: 40px;
  }
  .galeria h2:before,
  .galeria h2:after {
    display: block;
    content: "";
    height: 10px;
  }
  /*------------------MAS INFORMACION--------------------------------- */
  .critica {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 300px;
  }
  
  .critica__detalles {
    background: #fbc704;
    font-size: 2.6rem;
    color: black;
    max-width: 500px;
    max-height: 450px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .critica__detalles h2,
  p {
    text-align: center;
    margin-bottom: 2px;
  }
  .link {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .link .img2 {
    width: 25rem;
    height: 15rem;
    padding: 0px;
  }
  .link a {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  /*--------------------------FOOTER----------------------- */
  .final {
    display: grid;
    grid-gap: 20px;
  }
  .footer {
    display: grid;
    grid-template-columns: 2fr;
    background: #f7c203ed;
    padding: 40px;
    font-size: 15px;
    color: black;
  }
  .footer a {
    text-decoration: none;
  }
  .spt {
    display: none;
  }
  .__icon {
    font-size: 23px;
    padding: 5px;
    color: black;
  }
  .__icon:hover {
    font-size: 25px;
    background: #fbc704;
    border-radius: 50%;
  }
  /*-------------------------------------------PAGINA DE LOGIN----------------------------*/
  .loguearse {
    display: grid;
    grid-template-rows: 1fr 50px 2fr;
    width: 500px;
    height: 700px;
    border-radius: 15px;
    margin: 50px auto;
    background: #fbc704;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 300px;
  }
  .loguearse h2 {
    font-size: 50px;
  }
  .inicio {
    width: 400px;
    height: 70px;
    border: none;
    border-bottom: 1px solid black;
    background: #fbc704;
  }
  :focus {
    outline: none;
  }
  .inicio {
    font-size: 15px;
    color: rgba(70, 69, 69, 0.657);
    font-weight: bold;
  }
  .init {
    margin-top: 30px;
    font-size: 19rem;
  }
  .boton {
    margin-top: 10px;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    background: #fbc704;
    border: none;
    cursor: pointer;
  }
  
  .login {
    margin-top: 0px;
  }
  .olvidar a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
  }
  .olvidar {
    margin-top: 20px;
  }
  .olvidar a:hover {
    font-size: 1.7em;
    background: #fbb904;
    padding: 4px;
    border-radius: 10px;
  }
  .boton:hover {
    background: black;
    color: #fbc704;
  }
  
  /*----------------------------PÁGINA DE REGISTRO----------------------------*/
  .prin {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    color: blanchedalmond;
  }
  .prin h2 {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    color: blanchedalmond;
    align-items: center;
    font-size: 6em;
    margin-top: 130px;
  }
  .prin h2:before,
  .prin h2:after {
    display: block;
    content: "";
    height: 10px;
  }
  
  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    margin-bottom: 260px;
  }
  .prin h3 {
    font-size: 3.5em;
    margin-left: 20px;
  }
  .inscribirse h2 {
    margin-top: 20px;
  }
  .inscribirse h4 {
    font-size: 2.4em;
    text-align: center;
    background: #fbc704;
    padding: 20px;
    max-width: 600px;
    color: black;
    margin-left: 20px;
  }
  .formix {
    font-size: 2em;
  }
  .textos {
    background: #fbc704;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
  .terminos {
    font-size: 0.8em;
  }
  .terminos a {
    color: #fbc704;
    text-decoration: none;
  }
  .btnreg {
    color: #fbc704;
    font-size: 1em;
    border: none;
    background: none;
  }
  .btnreg:hover {
    background: #fbc704;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
  }
  /*------------------MEDIA QUERIES DE LA PÁG PRINCIPAL-----------------------*/
  
  @media (max-width: 1000px) {
    .galeria {
      grid-template-columns: repeat(3, 1fr);
      width: 800px;
    }
    .formulario {
      grid-template-columns: repeat(1, 1fr);
    }
    .inscribirse h2 {
      margin-top: 70px;
    }
    .navegacion {
      grid-template-columns: 50px 50px 50px 1.2fr 0.7fr;
    }
  }
  @media (max-width: 800px) {
    .box1 {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 100em;
    }
    .galeria {
      grid-template-columns: repeat(2, 1fr);
      width: 640px;
    }
    .critica {
      display: none;
    }
    .spt {
      display: inherit;
      font-size: 20px;
    }
    .inscribirse h2 {
      font-size: 4em;
    }
    .inscribirse h3 {
      font-size: 3em;
    }
    .inscribirse h4 {
      font-size: 1.8em;
      text-align: center;
      background: #fbc704;
      padding: 20px;
      max-width: 400px;
      color: black;
      margin-left: 20px;
    }
  }
  @media (max-width: 600px) {
    .box1 {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 250em;
    }
    .galeria {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100px;
    }
    .navegacion {
      grid-template-columns: 20px 20px 20px 1fr 1fr;
    }
  }
  